.errorBox {
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0;
  font-size: 14px;
  line-height: 1.5;
}

.validateError {
  color: orange;
  font-weight: bold;
}

.serverError {
  color: red;
  font-weight: bold;
}
