.card {
  background-color: var(--myApp-background-color);
  color: var(--myApp-text-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 50%;
}

.switchText {
  background-color: var(--myApp-background-color);
  color: var(--myApp-text-color);
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.switchButton {
  background-color: var(--myApp-background-color);
  color: var(--myApp-text-color);
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
}

.switchButton:hover {
  color: var(--myApp-background-color-hover);
}
